In [50]:
import pandas as pd
import mysql.connector

In [53]:
conn = mysql.connector.connect(user='root', password='Nagasai@218', database='moives_reviews')

In [4]:
data = pd.read_sql('SELECT * FROM imdb_reviews', conn)

C:\Users\nagas\AppData\Local\Temp\ipykernel_29376\3403100646.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql('SELECT * FROM imdb_reviews', conn)

In [5]:
data

          id                                        review_text  sentiment
0          1  I rented I AM CURIOUS-YELLOW from my video sto...          0
1          2  "I Am Curious: Yellow" is a risible and preten...          0
2          3  If only to avoid making this type of film in t...          0
3          4  This film was probably inspired by Godard's Ma...          0
4          5  Oh, brother...after hearing about this ridicul...          0
...      ...                                                ...        ...
49995  49996  Just got around to seeing Monster Man yesterda...          1
49996  49997  I got this as part of a competition prize. I w...          1
49997  49998  I got Monster Man in a box set of three films ...          1
49998  49999  Five minutes in, i started to feel how naff th...          1
49999  50000  I caught this movie on the Sci-Fi channel rece...          1

[50000 rows x 3 columns]

In [8]:
import nltk
from nltk.corpus import stopwords
import re

In [9]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\nagas\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [10]:
def remove_stopwords(text):
    text = text.lower()
    text = re.sub(r'\d+', '', text)
    text = re.sub(r'[^\w\s]', '', text)
    text = text.split()
    text = [word for word in text if word not in stopwords.words('english')]
    text = ' '.join(text)
    return text

In [ ]:
data['review_text'] = data['review_text'].apply(remove_stopwords)

In [57]:
data

          id                                        review_text  sentiment
0          1  rented curiousyellow video store controversy s...          0
1          2  curious yellow risible pretentious steaming pi...          0
2          3  avoid making type film future film interesting...          0
3          4  film probably inspired godards masculin fémini...          0
4          5  oh brotherafter hearing ridiculous film umptee...          0
...      ...                                                ...        ...
49995  49996  got around seeing monster man yesterday long w...          1
49996  49997  got part competition prize watched really expe...          1
49997  49998  got monster man box set three films mainly wan...          1
49998  49999  five minutes started feel naff looking youve g...          1
49999  50000  caught movie scifi channel recently actually t...          1

[50000 rows x 3 columns]

In [54]:
conn.cursor().execute('Use moives_reviews')

In [60]:
conn.cursor().execute('ALTER TABLE imdb_reviews ADD COLUMN Clean_review_text TEXT')

In [31]:
data.duplicated().sum()

np.int64(0)

In [62]:
data['review_text'][0]

'rented curiousyellow video store controversy surrounded first released also heard first seized us customs ever tried enter country therefore fan films considered controversial really see myselfbr br plot centered around young swedish drama student named lena wants learn everything life particular wants focus attentions making sort documentary average swede thought certain political issues vietnam war race issues united states asking politicians ordinary denizens stockholm opinions politics sex drama teacher classmates married menbr br kills curiousyellow years ago considered pornographic really sex nudity scenes far even shot like cheaply made porno countrymen mind find shocking reality sex nudity major staple swedish cinema even ingmar bergman arguably answer good old boy john ford sex scenes filmsbr br commend filmmakers fact sex shown film shown artistic purposes rather shock people make money shown pornographic theaters america curiousyellow good film anyone wanting study meat potatoes pun intended swedish cinema really film doesnt much plot'

In [86]:
conn.cursor().execute('CREATE TABLE Clean_imdb_reviews (id INT PRIMARY KEY,clean_review_text TEXT, sentiment INT)')    
conn.commit()

In [88]:
insert_query = 'INSERT INTO Clean_imdb_reviews (id, clean_review_text, sentiment) VALUES (%s, %s, %s)'

In [89]:
for _, row in data.iterrows():
    conn.cursor().execute(insert_query, (row['id'], row['review_text'], row['sentiment']))

conn.commit()

In [90]:
conn.close()