In [ ]:
import pandas as pd
import mysql.connector
from datasets import load_dataset

c:\Users\nagas\anaconda3\envs\notebook\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
data = load_dataset("imdb")

In [4]:
df = pd.concat([pd.DataFrame(data["train"]), pd.DataFrame(data["test"])], ignore_index=True)
df

                                                    text  label
0      I rented I AM CURIOUS-YELLOW from my video sto...      0
1      "I Am Curious: Yellow" is a risible and preten...      0
2      If only to avoid making this type of film in t...      0
3      This film was probably inspired by Godard's Ma...      0
4      Oh, brother...after hearing about this ridicul...      0
...                                                  ...    ...
49995  Just got around to seeing Monster Man yesterda...      1
49996  I got this as part of a competition prize. I w...      1
49997  I got Monster Man in a box set of three films ...      1
49998  Five minutes in, i started to feel how naff th...      1
49999  I caught this movie on the Sci-Fi channel rece...      1

[50000 rows x 2 columns]

In [12]:
df['label'].value_counts()

label
0    25000
1    25000
Name: count, dtype: int64

In [16]:
pip install nltk

Collecting nltk
  Using cached nltk-3.9.1-py3-none-any.whl.metadata (2.9 kB)
Collecting click (from nltk)
  Downloading click-8.1.8-py3-none-any.whl.metadata (2.3 kB)
Collecting joblib (from nltk)
  Using cached joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting regex>=2021.8.3 (from nltk)
  Downloading regex-2024.11.6-cp310-cp310-win_amd64.whl.metadata (41 kB)
Requirement already satisfied: tqdm in c:\users\nagas\anaconda3\envs\notebook\lib\site-packages (from nltk) (4.67.1)
Requirement already satisfied: colorama in c:\users\nagas\anaconda3\envs\notebook\lib\site-packages (from click->nltk) (0.4.6)
Using cached nltk-3.9.1-py3-none-any.whl (1.5 MB)
Downloading regex-2024.11.6-cp310-cp310-win_amd64.whl (274 kB)
Downloading click-8.1.8-py3-none-any.whl (98 kB)
Using cached joblib-1.4.2-py3-none-any.whl (301 kB)
Installing collected packages: regex, joblib, click, nltk
Successfully installed click-8.1.8 joblib-1.4.2 nltk-3.9.1 regex-2024.11.6
Note: you may need to restart the kernel to use updated packages.

In [21]:
import nltk
from nltk.corpus import stopwords
import re

In [57]:
def remove_stopwords(text):
    stop_words = set(stopwords.words('english'))
    texts = re.sub(r'[^\w\s]', '', text)
    words = texts.split()
    return ' '.join([word for word in words if word not in stop_words])

In [59]:
df

                                                    text  label
0      I rented I AM CURIOUS-YELLOW from my video sto...      0
1      "I Am Curious: Yellow" is a risible and preten...      0
2      If only to avoid making this type of film in t...      0
3      This film was probably inspired by Godard's Ma...      0
4      Oh, brother...after hearing about this ridicul...      0
...                                                  ...    ...
49995  Just got around to seeing Monster Man yesterda...      1
49996  I got this as part of a competition prize. I w...      1
49997  I got Monster Man in a box set of three films ...      1
49998  Five minutes in, i started to feel how naff th...      1
49999  I caught this movie on the Sci-Fi channel rece...      1

[50000 rows x 2 columns]

In [5]:
conn = mysql.connector.connect(user = 'root', password= 'Nagasai@218', host = 'localhost')

In [6]:
cursor = conn.cursor()

In [7]:
cursor.execute("CREATE DATABASE moives_reviews")

In [8]:
cursor.execute("USE moives_reviews")

In [9]:
cursor.execute("CREATE TABLE imdb_reviews (id int AUTO_INCREMENT primary key, review_text TEXT, sentiment INT)")

In [10]:
insert_query = "INSERT INTO imdb_reviews (review_text, sentiment) VALUES ( %s, %s)"

In [11]:
for _,row in df.iterrows():
    cursor.execute(insert_query, (row['text'], row['label']))


conn.commit()
cursor.close()
conn.close()

In [60]:
df['text'][1]

'"I Am Curious: Yellow" is a risible and pretentious steaming pile. It doesn\'t matter what one\'s political views are because this film can hardly be taken seriously on any level. As for the claim that frontal male nudity is an automatic NC-17, that isn\'t true. I\'ve seen R-rated films with male nudity. Granted, they only offer some fleeting views, but where are the R-rated films with gaping vulvas and flapping labia? Nowhere, because they don\'t exist. The same goes for those crappy cable shows: schlongs swinging in the breeze but not a clitoris in sight. And those pretentious indie movies like The Brown Bunny, in which we\'re treated to the site of Vincent Gallo\'s throbbing johnson, but not a trace of pink visible on Chloe Sevigny. Before crying (or implying) "double-standard" in matters of nudity, the mentally obtuse should take into account one unavoidably obvious anatomical difference between men and women: there are no genitals on display when actresses appears nude, and the same cannot be said for a man. In fact, you generally won\'t see female genitals in an American film in anything short of porn or explicit erotica. This alleged double-standard is less a double standard than an admittedly depressing ability to come to terms culturally with the insides of women\'s bodies.'