In [52]:
import requests

In [53]:
url = 'http://127.0.0.1:5000/predict'

In [17]:
import mysql.connector
conn = mysql.connector.connect(user='root', password='Nagasai@218', database='moives_reviews')

In [18]:
import pandas as pd
df = pd.read_sql('SELECT * FROM imdb_reviews', conn)

C:\Users\nagas\AppData\Local\Temp\ipykernel_25988\4223500612.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('SELECT * FROM imdb_reviews', conn)

In [24]:
df

,id,review_text,sentiment,Clean_review_text
0,1,I rented I AM CURIOUS-YELLOW from my video sto...,0.0,None
1,2,"""I Am Curious: Yellow"" is a risible and preten...",0.0,None
2,3,If only to avoid making this type of film in t...,0.0,None
3,4,This film was probably inspired by Godard's Ma...,0.0,None
4,5,"Oh, brother...after hearing about this ridicul...",0.0,None
...,...,...,...,...
49997,49998,I got Monster Man in a box set of three films ...,1.0,None
49998,49999,"Five minutes in, i started to feel how naff th...",1.0,None
49999,50000,I caught this movie on the Sci-Fi channel rece...,1.0,None
50000,50001,None,NaN,None
50001,50002,None,NaN,None

In [73]:
for i in range(49990, 50000):
    review = df['review_text'][i]
    payload = {'review_text': review}
    response = requests.post(url, json=payload)
    print(response.json())

{'Prediction': 'Postive '}
{'Prediction': 'Postive '}
{'Prediction': 'Postive '}
{'Prediction': 'Negative'}
{'Prediction': 'Postive '}
{'Prediction': 'Postive '}
{'Prediction': 'Postive '}
{'Prediction': 'Postive '}
{'Prediction': 'Negative'}
{'Prediction': 'Postive '}